[Desktop Entry]
Name=Fedora Utils
GenericName=Fedora Utils
Icon=fedorautils
Comment=Software, Codec Installs & System Tweaks
Exec=fedorautils
Terminal=true
Type=Application
Categories=System;Utility;X-Fedora;
Keywords=clean;codec;driver;fix;postinstall;propietary;repo;
