[Desktop Entry]
Name=Fedora Utils
GenericName=Tweak Fedora
Comment=Software, Codec Installs & System Tweaks
Exec=fedorautils
Terminal=true
Type=Application
Icon=fedorautils
Categories=System;
X-Desktop-File-Install-Version=0.18
