[Desktop Entry]
Name=Fedy
GenericName=Fedy
Icon=fedy
Comment=Install codecs and additional software
Exec=fedy
Terminal=false
Type=Application
Categories=Utility;X-Fedora;
Keywords=clean;codec;fedora;fix;install;proprietary;
