<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>
  <vendor>Run as root</vendor>
  <vendor_url>http://rpmfusion.org/</vendor_url>
  <icon_name>system-run</icon_name>

  <action id="org.folkswithhats.pkexec.run-as-root">
    <description>Run command as root</description>
    <message>Authentication is required to run command as root.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/fedy/bin/run-as-root</annotate>
  </action>

</policyconfig>
