*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
html{-webkit-font-smoothing:antialiased;}
body{position:absolute;top:0;left:0;bottom:0;right:0;background:#FFF;color:#333;font-family:'Open Sans',cantarell,sans-serif;margin:0;padding:0;}
img{border:0;max-width:95%;height:auto;}
a{color:#3c6eb4;text-decoration:none;}
a:focus,a:hover{color:#3c6eb4;text-decoration:none;border-bottom:1px dotted #3c6eb4;}
h3{color:#333;font-weight:300;font-size:150%;}
code{font-family:monospace;font-weight:bold;font-size:14px;background:#eee;color:#333;line-height:21px;border:solid 1px #ccc;display:inline-block;padding:10px;}
#header{padding:10px 100px;}
#header .title{padding:15px;color:#333;font-size:250%;font-weight:300;}
#navbar{background:#eee;color:#333;border-bottom:solid 1px #ccc;}
#navbar .nav{color:#333;padding:10px;text-align:right;}
#navbar .nav ul{list-style-type:none;margin:0;padding:0;}
#navbar .nav li{display:inline;}
#navbar .nav a{color:#333;text-decoration:none;padding:15px;}
#navbar .nav a:hover{color:#3c6eb4;text-decoration:none;border-bottom:0;}
#navbar .nav a.current{color:#3c6eb4;text-decoration:none;border-bottom:0;}
#content{text-align:left;padding:15px 100px;}
#content .description{padding:15px;}
#content .features{padding:15px;}
#content .gallery{padding:15px;}
#content .gallery a,#gallery a:hover{border-bottom:0;}
#content .gallery img{zoom:1;opacity:.75;filter:alpha(opacity=75);background:#eee;border:solid 1px #ccc;padding:15px;}
#content .gallery img:hover{zoom:1;opacity:1.0;filter:alpha(opacity=100);}
#footer{text-align:center;background:#eee;color:#333;border-top:solid 1px #ccc;}
#footer .copyright{font-size:85%;color:#666;padding:15px;}
.share{padding:15px;}
.screenshot{float:right;padding:0 50px;}
.clear{clear:both;}
::selection,::-moz-selection{background:#ccc;color:#333;}
::-webkit-scrollbar{width:10px;height:10px;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{display:none;background:transparent;}
::-webkit-scrollbar-track-piece{background:#eee;border-left:solid 1px #ccc;}
::-webkit-scrollbar-thumb:vertical{height:15px;background:#ccc;}
::-webkit-scrollbar-thumb:vertical:hover{background:#666;}

@media screen and (max-width: 640px) {
#navbar .nav{text-align:left;}
#navbar .nav li{display:block;}
#header,#navbar .nav ul{margin:0;padding:5px 10px;}
#header .title,#navbar .nav,#navbar .nav a,#content .description,#content .features,#content .screenshot,#gallery,#gallery img,#footer .copyright{padding:5px;}
#content{margin:0;padding:5px 10px;}
#content .answer{padding:5px 0;}
.share,.current{display:none;}
}

@media print {
a:link:after{content:" ("attr(href)") ";}
img{padding:5px;}
#header,#content{margin:0;padding:5px 10px;}
#header .title,#content .description,#content .features,#content .changelog,#content .faq,#gallery,#gallery 
#content{margin:0;padding:5px 15px;}
#content .answer{padding:5px 0;}
#navbar,#footer,.share{display:none;}
.screenshot{float:none;padding:5px;}
}
